@import "tailwindcss";
@import "@fontsource/geist-sans";
@plugin "@tailwindcss/typography";

:root {
  font-family: "Geist Sans", sans-serif;
}

body {
  background-color: #1a1a1a;
  color: #c9c9c9;
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  animation: fade-up 0.5s ease-out forwards;
}
