---

---

<nav
  class="underline decoration-1 underline-offset-4 decoration-zinc-600 flex gap-4"
>
  <a href="/" class="hover:decoration-zinc-300 transition-colors">Home</a>
  <a href="/blogs" class="hover:decoration-zinc-300 transition-colors">Blogs</a>
  <a href="/projects" class="hover:decoration-zinc-300 transition-colors"
    >Projects</a
  >
  <a href="/now" class="hover:decoration-zinc-300 transition-colors">Now</a>
  <a href="/uses" class="hover:decoration-zinc-300 transition-colors">Uses</a>
</nav>
